* {
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(left, #76b852, #8dc26f);
  background: linear-gradient(to right, #76b852, #8dc26f);
  font-family: sans-serif;
}

.container {
  background: lightblue;
  width: calc(100% - 10rem);
  max-width: 50rem;
  margin: 0 auto;
}

div[class^="col-"] {
  background: pink;
  border: 1px solid red;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
}

.col-11 {
  flex: 0 0 calc(100% / 12 * 11);
}

.col-10 {
  flex: 0 0 calc(100% / 12 * 10);
}

.col-9 {
  flex: 0 0 calc(100% / 12 * 9);
}

.col-8 {
  flex: 0 0 calc(100% / 12 * 8);
}

.col-7 {
  flex: 0 0 calc(100% / 12 * 7);
}

.col-6 {
  flex: 0 0 calc(100% / 12 * 6);
}

.col-5 {
  flex: 0 0 calc(100% / 12 * 5);
}

.col-4 {
  flex: 0 0 calc(100% / 12 * 4);
}

.col-3 {
  flex: 0 0 calc(100% / 12 * 3);
}

.col-2 {
  flex: 0 0 calc(100% / 12 * 2);
}

.col-1 {
  flex: 0 0 calc(100% / 12 * 1);
}

@media only and screen (max-width: 768px) {
  .col-12 {
    width: 100%;
  }
}
