.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.row--align-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--align-v-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row--align-h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row--align-h-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 540px) {
  max-width: 540px;
}

@media (min-width: 768px) {
  max-width: 768px;
}

@media (min-width: 992px) {
  max-width: 992px;
}

@media (min-width: 1200px) {
  max-width: 1200px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-1 {
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: calc(100% * (1 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc(100% * (1 / 12));
  }
}

.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-2 {
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-2 {
    width: calc(100% * (2 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-2 {
    width: calc(100% * (2 / 12));
  }
}

.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-3 {
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-3 {
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-3 {
    width: calc(100% * (3 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: calc(100% * (3 / 12));
  }
}

.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-4 {
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    width: calc(100% * (4 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-4 {
    width: calc(100% * (4 / 12));
  }
}

.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-5 {
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-5 {
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-5 {
    width: calc(100% * (5 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-5 {
    width: calc(100% * (5 / 12));
  }
}

.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-6 {
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: calc(100% * (6 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
    width: calc(100% * (6 / 12));
  }
}

.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-7 {
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-7 {
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-7 {
    width: calc(100% * (7 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-7 {
    width: calc(100% * (7 / 12));
  }
}

.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-8 {
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-8 {
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-8 {
    width: calc(100% * (8 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-8 {
    width: calc(100% * (8 / 12));
  }
}

.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-9 {
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-9 {
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-9 {
    width: calc(100% * (9 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-9 {
    width: calc(100% * (9 / 12));
  }
}

.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-10 {
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-10 {
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-10 {
    width: calc(100% * (10 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-10 {
    width: calc(100% * (10 / 12));
  }
}

.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-11 {
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-11 {
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-11 {
    width: calc(100% * (11 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-11 {
    width: calc(100% * (11 / 12));
  }
}

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

@media (min-width: 540px) {
  .col-xs-12 {
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    width: calc(100% * (12 / 12));
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: calc(100% * (12 / 12));
  }
}

[class^='col'] {
  background-color: #ffd6e0;
  border: 1px dotted #ff7093;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */