.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bolder {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.bg-white{
  background-color:white;
}

.bg-gray{
  background-color:gray;
}

.bg-red{
  background-color:red;
}

.bg-black{
  background-color:black;
}

.bg-yellow{
  background-color:yellow;
}

.bg-blue{
  background-color:blue;
}

.bg-orange{
  background-color:orange;
}

.bg-green{
  background-color:green;
}

.bg-pink{
  background-color:pink;
}

.bg-brown{
  background-color:brown;
}

.text-white{
  color:white;
}

.text-gray{
  color:gray;
}

.text-red{
  color:red;
}

.text-black{
  color:black;
}

.text-yellow{
  color:yellow;
}

.text-blue{
  color:blue;
}

.text-orange{
  color:orange;
}

.text-green{
  color:green;
}

.text-pink{
  color:pink;
}

.text-brown{
  color:brown;
}
