@import "reset";
@import "grid";
@import "spacing";
@import "text";
@import "layout";

body {
  $drupalBlue: #064771;
  
  h2,
  p,
  a,
  h3 {
    font-family: "Ubuntu", sans-serif;
  }
  
  header {
    color: white;
    background-color: #0678be;

    > div {
      background-color: #0678be;
  
      button {
        height: 72px;
        background-color: transparent;
        border: none;
  
        i {
          font-size: 26px;
        }
      }
  
      ul {
        li {
          height: 60px;
          font-size: 18px;
  
          button {
            background-color: #7cbc48;
            height: 54px;
            width: 132px;
          }
        }
      }
    }
    nav {
      height: 60px;
  
      ul {
        li {
          height: 60px;
          display: flex;
          align-items: center;
  
          img {
            height: 60px;
            width: 38px;
          }
  
          i {
            font-size: 28px;
          }
  
          button {
            background-color: #7cbc48;
            border: none;
            color: inherit;
          }
        }
  
        li:hover {
          background-color: white;
          color: black;
  
          button {
            background-color: white;
          }
        }
  
        li:first-child:hover,
        li:nth-last-child(2):hover {
          background-color: inherit;
          color: inherit;
        }
      }
    }
  }
  
  main {
    > section:nth-child(1) {
      h2 {
        font-size: 3rem;
      }
      background: url(../images/bg-shapes.svg) #064771 no-repeat center/cover;
    }
    
    > section:nth-child(2) {
      h2 {
        font-size: 2rem;
      }
    
      .col-md-4:nth-child(1) {
        > div {
          background-image: url(../images/inner1.svg), url(../images/section2-img1.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 200px;
        }
      }

      .col-md-4:nth-child(2) {
        > div {
          background-image: url(../images/inner2.1.svg), url(../images/inner2.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 200px;
        }
      }
    
      .col-md-4:nth-child(3) {
        > div {
          background-image: url(../images/inner3.svg), url(../images/section2-img3.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 200px;
        }
      }
    }
    
    > section:nth-child(3) {
      h2 {
        font-size: 1.75em;
        line-height: 1.1em;
      }
      height: 511px;
      background-image: url(../images/section3-bg.jpg);
    
      button {
        border: none;
        background-color: $drupalBlue;
      }
    }

    > section:nth-child(4) {
      h2 {
        font-size: 3rem;
      }
      height: 232px;
      background-color: $drupalBlue;
    
      .row {
        background-color: white;
        height: 200px;
        max-width: 960px;

        > p {
          right: 0;
          top: 4px;
          font-size: 0.75rem;
        }
        @media screen and (max-width: 576px) {
          > p {
            bottom: 4px;
            top: auto;
          }
        }
    
        button {
          background-color: $drupalBlue;
          border: none;
        }
      }
    }
    
    > section:nth-child(5) {
      h2 {
        font-size: 28px;
      }
    
      .row {
        > div {
          > div:first-child {
            width: 100%;
            height: 167px;
            background: url(../images/section5-bg.svg);
            background-position: center;
            background-repeat: no-repeat;
    
            > img {
              height: 80px;
              width: 96px;
            }
          }
        }
      }
    }
    
    > section:nth-child(6) {
      h2 {
        font-size: 28px;
        background-color: whitesmoke;
      }
      
      .row {
        > div {
          img {
            width: 100%;
          }
      
          p {
            line-height: 1.384615em;
          }

          i {
            font-size: 50px;
          }
        }
      }
    }

    > section:nth-child(7) {
      h2 {
        font-size: 28px;
        color: #4e4e4e;
      }
      
      .row {
        max-width: 960px;
        
        > div {
          > div > img {
            max-width: 100%;
          }
          a,
          p {
            line-height: 1.384615em;
            color: #4e4e4e;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  footer {
    background-color: $drupalBlue;
    > div {
      h2 {
        font-size: 28px;
      }
      button {
        width: 150px;
        background-color: transparent;
        border: 1px solid white;
      }
      > div {
        ul {
          width: 200px;
          > li {
            > a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
    > div:nth-child(1) {
      background-image: url(../images/footer-bg.jpg);
      height: 149px;
    }
    > div:nth-child(2) {
      max-width: 1020px;
      > div:first-child {
        border-bottom: 1px solid #0965a1;
      }
      > div:last-child {
        font-size: 18px;
      }
    }
  }
}
